<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User registration</title>
</head>
<body style="text-align: center; background: grey">
<h1>Create a new account</h1>

<form>
    <label>Username:</label><br>
    <input type="text" placeholder="Username"><br><br>
    <label>Password:</label><br>
    <input type="text" placeholder="Password"><br><br>
    <label>Repeat password:</label><br>
    <input type="text" placeholder="Repeat password"><br><br>
    <button type="submit">Create new account</button>


</form>

</body>
</html>